/**
关于 absolute 定位:
    absolute 是最棘手的position值。 absolute 与 fixed 的表现类似，
但是它不是相对于视窗而是相对于最近的“positioned”祖先元素。
如果绝对定位（position属性的值为absolute）的元素没有“positioned”
祖先元素，那么它是相对于文档的 body 元素，并且它会随着页面滚动而
移动。记住一个“positioned”元素是指 position 值不是 static 的元素。
*/

@import url(https://fonts.googleapis.com/css?family=Acme);

html {
    background-color: #eee;
    width: 100%;
    height: 100%;
}

.init-msg {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 360px;
    height: 360px;

    /*
        两种方案完成“绝对居中”
        1. transform: translateX(-50%) translateY(-50%);
        2. margin: -180px; 使用负margin的方法完成绝对居中
    */
    transform: translateX(-50%) translateY(-50%);
     
    /*使用trainsition的特性让所有变量的变化在3s内过渡并完成 */
    transition-duration: 3s;
    z-index: 5;
}


.ingame .init-msg {
    transform: scale(0);
}


.cards-container {
    width: auto;
    height: auto;
    margin: 25px 50px;
    opacity: 0;
    transition: all 0s ease 1s;
}

/*
   游戏开始后再显示容器图层的内容
 */
.ingame .cards-container {
    opacity: 1;
}

/*
    利用@media screen实现网页布局的自适应
    当检测到设备的最大宽度不足400px时，
    替换/覆盖部分元素的属性
*/

@media screen and (max-width: 400px) {
    .cards-container {
        margin: 2% 10%;
    }

    .init-msg {
        width: 250px;
        height: 250px;
    }
}