/*
    主要用于卡片相关的CSS编写
*/

.cards-container {
    width: auto;
    height: auto;
    margin: 25px 50px;
    opacity: 0;
    transition: all 0s ease 1s;
}

/*
   游戏开始后再显示容器图层的内容
 */
.ingame .cards-container {
    opacity: 1;
}


@media screen and (max-width: 400px) {
    .cards-container {
        margin: 2% 10%;
    }
}